/* Logo style */
.logo {
    width: 50%;
    height: 50%;
}

/* Header area */
header {
    text-align: center;
}

/* body style */
body {
    color: lightgray;
    font-family: "Kanit", sans-serif;
    font-size: 15px;
}

/* Quiz area */
#container {
    border-radius: 25px;
    width: 60vw;
    background: lightgrey;
    color: black;
    margin: 30px auto;
    overflow: auto;
}

/* Section style */
section {
    padding: 20px;
}